@page "/"
@inject ContentService Content

<h1>Public broadcasting service for Oliver Posa</h1>

@foreach (var doc in Content.Documents)
{
    <h2>@doc.Name</h2>
    <h4>@doc.Date.Value.ToShortDateString()</h4>
    @string.Join(", ", doc.Tags) 
    @((MarkupString)doc.ToHtml())
}

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !Content.Loaded)
        {
            await Content.UpdateDocuments();
            StateHasChanged();
        }
        base.OnAfterRenderAsync(firstRender);
    }
}